Library/
Temp/
My project/.vs/My project/v17/.suo
My project/.vs/My project/v17/fileList.bin
ManagerProgram/Assets/Assets/TextMesh Pro/.DS_Store
ManagerProgram/Assets/Assets/.DS_Store
ManagerProgram/Assets/.DS_Store
ManagerProgram/.DS_Store
.DS_Store
My project/.vs/My project/v17/.suo
My project/.vs/My project/v17/fileList.bin
